<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	
>
<head lang="es">
<meta charset="UTF-8" />
<title text="#{head.title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<!-- Pagination Bar -->
	<div id="filterOperation" fragment='filterDialog(type)'>

		<div class="modal fade bs-filter-modal-lg" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" text="#{button.filter}"></h4>
					</div>
					<form id="filterForm" action="'/'+${type}+'/list'}" object="${criteria}" method="post">
						<div class="modal-body">

							<input type="hidden" field="*{orderBy}"/>
							<input type="hidden" field="*{orderMode}"/>

							<div if="${type=='city'}">
								<div replace="city/criteria :: cityFilter"></div>
							</div>



						</div>
						<div class="modal-footer">

							<button type="submit" class="btn btn-primary" text="#{button.search}"></button>
							<button type="button" class="btn btn-warning" onclick="javascript:resetForm();" text="#{button.reset}"></button>

						</div>
					</form>
				</div>
			</div>
		</div>



	</div>


</body>

</html>